/* sumo select to select 2 */

.select2-container--bootstrap.input-lg .select2-selection--single, .input-group-lg .select2-container--bootstrap .select2-selection--single, .form-group-lg .select2-container--bootstrap .select2-selection--single {
    border-radius: 3px;
    color: #6c7076;
    font-size: 16px;
    height: 55px;
    line-height: 53px;
    padding: 0 16px;
    border: 1px solid #e3e6e8;
    background: #fcfcfc none repeat scroll 0 0;
    width: 100%;
    font-family: "Roboto";
    font-weight: 400;
}


.select2-dropdown, .select2-container--bootstrap .select2-dropdown {
    background: #fff none repeat scroll 0 0;
    border: 1px solid #ddd;
    border-radius: 3px;
    box-shadow: 2px 3px 3px rgba(0, 0, 0, 0.11);
    box-sizing: border-box;
    overflow: hidden;

}

.select2-results__option {
    font-size: 16px;
    line-height: 22px;
    padding: 10px 18px;
    border-bottom: 1px solid #f5f5f5;
}


.has-success .select2-container--bootstrap.select2-container--focus .select2-selection, .has-success .select2-container--bootstrap.select2-container--open .select2-selection {
    border-color: #ff8a00;
    box-shadow: none;
}

.select2-container--bootstrap .select2-results__option--highlighted[aria-selected] {
    background-color: #f5f5f5;
    color: #262626;
}

/* google place livehack */

.pac-container:after {
    background-image: none !important;
    height: 0px;
}

/* procces bar upload avatar */

#progress-wrp {
    border: 1px solid #2d3643;
    padding: 1px;
    position: relative;
    height: 30px;
    border-radius: 3px;
    text-align: left;
    background: #fff;
    box-shadow: inset 1px 3px 6px rgba(0, 0, 0, 0.12);
    visibility: hidden;
    cursor: pointer;
}
#progress-wrp .progress-bar{
    height: 100%;
    border-radius: 3px;
    background-color: #ff8a00;
    width: 0;
    box-shadow: inset 1px 1px 10px rgba(0, 0, 0, 0.11);
}
#progress-wrp .status{
    top:3px;
    left:50%;
    position:absolute;
    display:inline-block;
    color: #000000;
}
.red:not(.dislike){background: red none repeat scroll 0 0 !important;}

.status0::before {background: red none repeat scroll 0 0 !important;}
.status0 {color: red;}
.status1::before {background: darkred none repeat scroll 0 0 !important;}
.status1 {color: darkred;}

.status2::before {background: #5cca47 none repeat scroll 0 0 !important;}
.status2 {color: #5cca47;}
.status3::before {background: lawngreen none repeat scroll 0 0 !important;}
.status3 {color: lawngreen;}
.status4::before {background: deepskyblue none repeat scroll 0 0 !important;}
.status4 {color: deepskyblue;}
.status5::before {background: black none repeat scroll 0 0 !important;}
.status5 {color: black;}

.remove_added_file {cursor: pointer;font-weight:bold;color: red;z-index: 1000; }
div.field-memberedit-documents {margin-bottom: 0px;}
div.added_file{margin-bottom: 0px;}

span.notification {
    position: absolute;
    top: 22px;
    border: 1px solid #FFF;
    right: 10px;
    font-size: 9px;
    background: #ff8a00;
    color: #FFFFFF;
    min-width: 20px;
    padding: 0px 5px;
    height: 20px;
    border-radius: 10px;
    text-align: center;
    line-height: 19px;
    vertical-align: middle;
    display: block;
}

a.order_caregories{ border: 1px solid rgba(138,138,123,.6);display: inline-block; margin-bottom: 10px !important; vertical-align: middle; height: 28px; line-height: 26px; font-size: 14px;  width: auto;  padding: 0 10px;  margin-right: 6px; border-radius: 5px;}